/*splitbutton*/
.edui-zrquan .edui-toolbar .edui-splitbutton-body .edui-arrow,
.edui-zrquan .edui-toolbar .edui-menubutton-body .edui-arrow {
    background: url(../images/icons.png) -740px -2px;
    _background: url(../images/icons.gif) -740px -2px;
    height: 16px;
    width: 14px;
}

.edui-zrquan .edui-toolbar .edui-splitbutton .edui-splitbutton-body,
.edui-zrquan .edui-toolbar .edui-menubutton .edui-menubutton-body {
    padding: 5px;
    padding-right: 0px;
    border: 1px solid #F6F9F9;
}

.edui-zrquan .edui-toolbar .edui-splitborder {
    width: 1px;
    height: 16px;
}

.edui-zrquan .edui-toolbar .edui-state-hover .edui-splitborder {
    width: 1px;
    border-left: 0px solid #dcac6c;
}

.edui-zrquan .edui-toolbar .edui-state-active .edui-splitborder {
    width: 0;
    border-left: 1px solid gray;
}

.edui-zrquan .edui-toolbar .edui-state-opened .edui-splitborder {
    width: 1px;
    border: 0;
}

.edui-zrquan .edui-toolbar .edui-splitbutton .edui-state-hover .edui-splitbutton-body,
.edui-zrquan .edui-toolbar .edui-menubutton .edui-state-hover .edui-menubutton-body {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;

    border: 1px solid #C1C1C1;
}

.edui-zrquan .edui-toolbar .edui-splitbutton .edui-state-checked .edui-splitbutton-body,
.edui-zrquan .edui-toolbar .edui-menubutton .edui-state-checked .edui-menubutton-body {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;

    border: 1px solid #C1C1C1;
    background-color: #EBEBEB;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
}

.edui-zrquan .edui-toolbar .edui-splitbutton .edui-state-active .edui-splitbutton-body,
.edui-zrquan .edui-toolbar .edui-menubutton .edui-state-active .edui-menubutton-body {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;

    border: 1px solid #C1C1C1;
    background-color: #EBEBEB;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
}

.edui-zrquan .edui-state-disabled .edui-arrow {
    opacity: 0.3;
    _filter: alpha(opacity = 30);
}

.edui-zrquan .edui-toolbar .edui-splitbutton .edui-state-opened .edui-splitbutton-body,
.edui-zrquan .edui-toolbar .edui-menubutton .edui-state-opened .edui-menubutton-body {
    /*background-color: white;*/
    /*border: 1px solid gray;*/
    /*padding: 0;*/

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;

    border: 1px solid #C1C1C1;
    background-color: #EBEBEB;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
}

.edui-zrquan .edui-for-insertorderedlist .edui-bordereraser,
.edui-zrquan .edui-for-lineheight .edui-bordereraser,
.edui-zrquan .edui-for-rowspacingtop .edui-bordereraser,
.edui-zrquan .edui-for-rowspacingbottom .edui-bordereraser,
.edui-zrquan .edui-for-insertunorderedlist .edui-bordereraser {
    background-color: white;
    display: none;
}

/* 解决嵌套导致的图标问题 */
.edui-zrquan .edui-for-insertorderedlist .edui-popup-body .edui-icon,
.edui-zrquan .edui-for-lineheight .edui-popup-body .edui-icon,
.edui-zrquan .edui-for-rowspacingtop .edui-popup-body .edui-icon,
.edui-zrquan .edui-for-rowspacingbottom .edui-popup-body .edui-icon,
.edui-zrquan .edui-for-insertunorderedlist .edui-popup-body .edui-icon {
    /*background-position: 0 -40px;*/
    background-image: none  ;
}
